@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #b65822;
}

body {
  font-family: 'Roboto', sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo{
  width: 5.25rem;
}

nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: auto;

}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
border-bottom: 0.1875rem solid var(--primary-orange) ;

}


